# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Game Files
.ageland.pid
bin/
.idea/
lib/last_cmds
lib/crash_cmds
lib/world/
lib/players/
lib/plrobjs/
lib/exploits/
lib/misc/pklist
lib/core
lib/boards
lib/gdb_backtrace
log/
CVS/
old/
backup/
lib/misc/plrmail
lib/misc/maze.dat
lib/misc/mdl
lib/misc/mudlle.keys
lib/misc/oldcrimelist
lib/misc/pk*
lib/misc/repair*
core/
*~
autorun4000
switchserver.sh
crashes
syslog
.killscript

# Visual Studio Crap Dump
src/.vs/
.vs/
.vscode/
.vscode/settings.json
*build*/
.gitignore

# Clang
.cache

# Rust
target/

# cmake
.cache
